.wrapper{
    height: 1000px;
    width: 1250px;
    padding: 15px;
}
.header{
    display: inline-block;
    height: auto;
    width: 1000px;
    background-color: #990000;
    vertical-align: top;
    color: white;
    border: solid 2px black;
}
.box{
    padding: 5px;
    margin-top: 20px;
    margin-left: 25px;
    height: auto;
    width: 700px;
    vertical-align: top;
    display: inline-block;
}
.quotebox{
    margin-bottom: 15px;
    padding: 5px;
    height: auto;
    width: 350px;
    border: solid 30px rgb(126, 15, 15);
}